/* Define o tamanho base das fontes e outros ajustes */
:root {
    --large-default-padding: 6.5em;
    --medium-default-padding: 4em;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", serif;
    color: #555;
}

#principal {
    width: 90%;
    max-width: 64em;
    margin: auto;
}

/* Menu responsivo */
.menu {
    background-color: #98615d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;  /* Permite que os itens se empilhem em telas pequenas */
}

.menu_logo {
    color: white;
    font-size: 2em;
    margin-left: 1em;
}

.menu_opcoes {
    list-style: none;
    display: flex;
    margin-right: 1em;
}

.menu_opcoes li {
    margin-left: 1em;
}

.menu_hamburguer {
    display: none; /* Esconde o ícone hambúrguer por padrão */
    font-size: 2em;
    cursor: pointer;
}

.menu_opcoes a {
    color: #502421;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.15em;
    transition: color 0.3s linear;
}

.menu_opcoes a:hover {
    color: white;
}

/* Responsividade do mapa */
#map {
    height: 80vh;
    width: 100%;
}

/* Ajustes nos textos */
.titulo {
    text-align: center;
    text-transform: uppercase;
    margin: 1.2em;
}

.texto {
    text-align: justify;
    text-indent: 1em;
}

.referencia a{
    color: black;
    text-decoration: none;
}

.legenda{
    margin: 2em 0 0;
    text-align: center;
}

/* Rodapé */
.rodape {
    margin: 0;
    color: #753d39;
    text-align: center;
    padding: 1.5em 0;
}

/* Responsividade usando media queries */
@media (max-width: 768px) {
    .menu_logo {
        font-size: 1.5em;
    }

    .menu_opcoes {
        display: none; /* Esconde as opções de menu em telas pequenas */
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: #98615d; /* Cor do fundo do menu */
        position: absolute;
        top: 60px; /* Espaçamento do topo */
        left: 0;
        padding: 1em 0;
    }

    .menu {
        flex-direction: column; /* Empilha os itens do menu em telas pequenas */
    }

    .menu_opcoes li {
        margin: 1em 0;
    }

    .menu_hamburguer {
        display: block; /* Mostra o ícone hambúrguer em telas pequenas */
    }

    .menu_opcoes.show {
        display: flex; /* Mostra o menu quando a classe 'show' é adicionada */
    }

    .titulo {
        font-size: 1.5em;
    }

    .texto {
        font-size: 0.9em;
    }
    .referencia{
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .menu_logo {
        font-size: 1.2em;
        text-align: center;
        margin: 1em 0;
    }

    .menu_opcoes {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .menu_opcoes li {
        margin: 1em 0;
    }

    .rodape {
        padding: 1em;
    }
}
